title: EXPEDITION STUDIO 
name: EXPEDITION STUDIO 
email: ''
description: >- # this means to ignore newlines until "baseurl:"
  Outdoor Adventure Activities in the Himalayas full of fun, thrill and a rush of adrenaline | 



baseurl: ''
# baseurl: "/sunil-ghalan" # uncomment it when publishing
# url: "https://sunil-tamang.github.io"
url: ""


permalink: slug

collections:
  summits:
    output: true
    image: true
    permalink: /summits/:name/

defaults:
  - scope:
      path: ''
      type: 'activities'
    values:
      layout: 'default'
      image: true
      type: 'activities'

exclude:
  - Gemfile
  - Gemfile.lock
  - readme.md
  - license
  - CNAME
  - packages.html
  - "_treks/assets/css/*.scss"
plugins:
  - jekyll-sitemap
strict_front_matter: true
sass:
  style: compressed # possible values: nested expanded compact compressed

# Compressing HTML
compress_html:
  clippings: all
  comments: all
  endings: []
  ignore:
    envs: []
  blanklines: false
  profile: false
  startings: []