---
layout: 'default'
slick_css: 'Yes'
slick_js: 'Yes'
author_name : "  "
custom_bg: "bg/banner.jpg"
tags : "Everest Base Camp Trek, Annapurna Circuit Trek, Annapurna Base Camp Trek, Langtang Valley Trek, Upper Mustang Trek, Manaslu Circuit Trek, Ghorepani Poon Hill Trek ,Gokyo Lakes Trek ,Kanchenjunga Base Camp Trek, Makalu Base Camp Trek "
description : "The Alpine Expeditions is a leading trekking company in Nepal that offers a range of trekking and hiking trips to some of the most beautiful and remote locations in the Himalayas"
---







<!--- B-A-N-N-E-R -->

<!-- <div class="banner ">
    <img src="/assets/css/images/banner.jpg" alt="Banner Image">
    <div class="overlay"></div>
    <div class="banner-content">
        <h1>SENSAI <br/> PEMA <br/>WAIBA</h1>
        <p>Your Subtitle or Tagline</p>
    </div>
</div> -->


<!-- 
{% for summit in site.data.summit %}
  <div class="card" style="background-image: url('{{ summit.image | prepend: '/assets' | relative_url }}');">
    <div class="overlay">
      <h2><a href="{{ summit.slug | prepend: '/summits/' | relative_url }}">{{ summit.name }}</a></h2>
      <p>Elevation: {{ summit.elevation }} meters</p>
      <p>Country: {{ summit.country }}</p>
      <p>Year: {{ summit.year }}</p>
    </div>
  </div>
{% endfor %} -->


<div class="about-me-row container-wide row--padding-wide">

  <div class="about-me-col">
    <div class="about-me-img" style="background-image: url('/assets/css/images/about.jpg');"></div>
  </div>
  
  <div class="about-me-col">
    <div class="about-me-content">

      <h1 class="content__title">HI .</h1>
      <br/>

      <p>
       I'm Sunil Ghalan, a dedicated mountaineer and filmmaker based in the heart of adventure. With a passion for scaling new heights and capturing breathtaking moments, I have explored the world's most challenging peaks.

        My journey not only involves conquering mountains but also telling their stories through the lens of my camera. Through my films, I aim to share the raw beauty, challenges, and triumphs of the mountains.

        Join me on this incredible journey, and let's explore the world together through the eyes of a mountaineer and filmmaker.
      </p>
    </div>
  </div>

 
</div>




<div class="container-wide row--padding-wide" >

  <h1 class="content__title">Elevations Explored</h1> <br/>

  <div class="card-container">
    {% for summit in site.data.summit %}
    <a href="{{ summit.slug | prepend: '/summits/' | relative_url }}" class="card" style="background-image: url('{{ summit.image | prepend: '/assets' | relative_url }}');">
        <div class="overlays">
        <h2 class="content__sub-title_child ">Project - {{ summit.name }}</h2>
        <!-- <p>Elevation: {{ summit.elevation }} meters</p> -->
        <!-- <p>Country: {{ summit.country }}</p> -->
        <!-- <p>Year: {{ summit.year }}</p> -->
        </div>
    </a>
    {% endfor %}
  </div>

</div>



<div class="container-wide row--padding-wide" >

  <h1 class="content__title">THe Alpine Films -  My Works</h1> <br/>


<div class="card-container">
  {% for summit in site.data.films %}
  <a href="{{ summit.slug | prepend: '/summits/' | relative_url }}" class="card" style="background-image: url('{{ summit.image | prepend: '/assets' | relative_url }}');">
    <div class="overlays">
      <h2 class="content__sub-title_child">Project - {{ summit.name }}</h2>
      <!-- Add the video element with autoplay attribute set to false -->
      <video class="video" loop muted playsinline preload="none" data-src="{{ summit.video | prepend: '/assets' | relative_url }}">
        <source src="{{ summit.video | prepend: '/assets' | relative_url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <!-- End of video element -->
    </div>
  </a>
  {% endfor %}
</div>

 
  

</div>







<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "WebSite",
	"name": "{{ site.url }}{{ page.url }}",
	"url": "{{ site.url }}{{ page.url }}"
	}
</script>
	
	
	