---
layout: 'default'
slick_css: 'Yes'
slick_js: 'Yes'
author_name : "  "
custom_bg: "bg/banner.jpg"
tags : "Everest Base Camp Trek, Annapurna Circuit Trek, Annapurna Base Camp Trek, Langtang Valley Trek, Upper Mustang Trek, Manaslu Circuit Trek, Makalu Base Camp Trek "
description : ""
---







<!--- B-A-N-N-E-R -->





<!-- <div class="banner ">
    <img src="/assets/css/images/banner.jpg" alt="Banner Image">
    <div class="overlay"></div>
    <div class="banner-content">
        <h1>SUNIL TAMANG</h1>
        <p>Your Subtitle or Tagline</p>
    </div>
</div> -->



<!-- {% for summit in site.data.summit %}
  <div class="card" style="background-image: url('{{ summit.image | prepend: '/assets' | relative_url }}');">
    <div class="overlay">
      <h2><a href="{{ summit.slug | prepend: '/summits/' | relative_url }}">{{ summit.name }}</a></h2>
      <p>Elevation: {{ summit.elevation }} meters</p>
      <p>Country: {{ summit.country }}</p>
      <p>Year: {{ summit.year }}</p>
    </div>
  </div>
{% endfor %} -->


{% assign video_slide = site.data.slideshow.slides | where: "type", "video" | first %}

{% if video_slide %}
<div class="banner video-banner">
    <video class="banner-video" autoplay muted loop playsinline preload="auto">
        <source src="{{ video_slide.src }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    
    <!-- Move header inside the video banner -->
<header>
    <nav class="navbar">
        <div class="container">
            <!-- Logo on left -->
            <div class="navbar-logo">
                <a href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/assets/css/images/logo.png" alt="Sunil Tamang" class="logo">
                </a>
            </div>
            
            <!-- Navigation menu on right -->
            <ul class="navbar-nav">
                <!-- <li class="nav-item">
                    <a href="{{ site.baseurl }}/rock-climbing" class="nav-link">ROCK CLIMBING</a>
                </li>
                <li class="nav-item">
                    <a href="{{ site.baseurl }}/stills" class="nav-link">STILLS</a>
                </li>
                <li class="nav-item">
                    <a href="{{ site.baseurl }}/films" class="nav-link">FILMS</a>
                </li> -->
                <li class="nav-item">
                    <a href="{{ site.baseurl }}/about" class="nav-link">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
    
    <div class="overlay">
        <!-- Rest of your content -->
        <div class="container-wide row--padding-medium">
            <div class="menu-block-container">
                <!-- Your menu blocks -->
                 <a href="{{ site.baseurl }}/team" class="menu-block">
                    <div class="menu-block-overlay">
                        <h2 class="menu-block-title">TEAM</h2>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/films" class="menu-block">
                    <div class="menu-block-overlay">
                        <h2 class="menu-block-title">FILMS</h2>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/about" class="menu-block">
                    <div class="menu-block-overlay">
                        <h2 class="menu-block-title">ABOUT</h2>
                    </div>
                </a>
                <!-- Other menu blocks -->
            </div>
        </div>
    </div>
</div>
{% endif %}









<!-- <div class="about-me-col ">
    <div class="banner-overlay"></div>
    <div class="about-me-content">

        <h1 class="content__title">HI .</h1>
        <p>"I'm Sunil Tamang, a passionate mountaineer and filmmaker driven by the
            adrenaline of exploration. My world revolves around conquering towering peaks
            and immortalizing breathtaking moments on film. Join me on my quest for
            adventure!"</p>

    </div>
    <div
        class="about-me-img"
        style="background-image: url('{{ site.baseurl }}/assets/css/images/banner.jpg');"></div>
</div> -->
  

<!-- <div class="banner-slider">
    {% for slide in site.data.slideshow.slides %}
      <div class="slide">
        {% if slide.type == "image" %}
          <img src="{{ slide.src }}" alt="{{ slide.alt }}">
        {% elsif slide.type == "video" %}
          <video autoplay muted class="slide-video" preload="metadata">
            <source src="{{ slide.src }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        {% endif %}
        <div class="overlay">
          <div class="overlay-text">
            {{ slide.overlay_text }}
            {% if slide.additional_info %}
              <div class="additional-info">{{ slide.additional_info }}</div>
            {% endif %}
          </div>
          {% if slide.type == "video" %}
            <button class="play-button">Play</button>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
   -->
  






<!-- <div class="container-wide row--padding-medium " >



  <h1 class="content__title">EXPEDITIONS</h1> <br/>
  
  <div class="mountain-cards-container">
    {% for summit in site.data.summit %}
    <a href="{{ summit.slug | prepend: '/summits/' | relative_url }}" class="mountain-card" style="background-image: url('{{ summit.image | prepend: '/assets' | relative_url }}');">
        <div class="mountain-overlays">
            <h2 class="content__title"> {{ summit.name }}</h2>
            <p class="summit-details">Elevation: {{ summit.elevation }} meters</p>
            <p class="summit-details">Country: {{ summit.country }}</p>
            <p class="summit-details">Year: {{ summit.year }}</p>
        </div>
    </a>

    {% endfor %}



</div>


</div> -->



<!-- <div class="container-wide row--padding-wide" >

  <h1 class="content__title">HIKING </h1> <br/>


<div class="card-container">
  {% for summit in site.data.treks %}
  <a href="{{ summit.slug | prepend: '/summits/' | relative_url }}" class="card" style="background-image: url('{{ summit.image | prepend: '/assets' | relative_url }}');">
    <div class="overlays">
      <h2 class="content__sub-title_child">Project - {{ summit.name }}</h2>
      <video class="video" loop muted playsinline preload="none" data-src="{{ summit.video | prepend: '/assets' | relative_url }}">
        <source src="{{ summit.video | prepend: '/assets' | relative_url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </a>
  {% endfor %}
</div>

 
  

</div> -->



<!-- <div class="container-wide row--padding-wide" >

  <h1 class="content__title">THe Alpine Films -  My Works</h1> <br/>


<div class="card-container">
  {% for summit in site.data.films %}
  <a href="{{ summit.slug | prepend: '/summits/' | relative_url }}" class="card" style="background-image: url('{{ summit.image | prepend: '/assets' | relative_url }}');">
    <div class="overlays">
      <h2 class="content__sub-title_child">Project - {{ summit.name }}</h2>
      <video class="video" loop muted playsinline preload="none" data-src="{{ summit.video | prepend: '/assets' | relative_url }}">
        <source src="{{ summit.video | prepend: '/assets' | relative_url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </a>
  {% endfor %}
</div>

 
  

</div> -->


<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "WebSite",
	"name": "{{ site.url }}{{ page.url }}",
	"url": "{{ site.url }}{{ page.url }}"
	}
</script>
	
	
	