body{
    background: #FFFFFF;
    // background: #080808;
    // background: #06080b;
    // background: #f0f0f0;
	color: #333;
}

/* Banner Styles */
.banner {
    position: relative;
    text-align: center;
    color: #ffffff;
    overflow: hidden; /* Ensure no overflow of the banner content */
}

.banner img {
    width: 100%;
    height: 700px;
    display: block; /* Remove any extra space below the image */
    border-radius: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;

}

.banner-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 100%;
    text-align: left;
}

/* Adjust font sizes for responsiveness */
.banner-content h1 {
    font-size: 1.5em;
    margin: 0; /* Remove default margin to avoid spacing issues */
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
}

.head{
    font-size: 2em;
    margin: 0; /* Remove default margin to avoid spacing issues */
    // font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
}
.banner-content p {
    font-size: 1.5em;
    margin: 0; /* Remove default margin to avoid spacing issues */
}






  .about-me-col {
    max-width: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden; /* Ensure content does not overflow with rounded corners */
  }

  .about-me-col{
    max-width: 100%;
    // height: 700px;
    height: 85vh;
  }

  .about-me-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    // background-position: left;
    background-position: center;
  }


  .about-me-content h1 {
    font-size: 1.7em;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    // margin-bottom: 10px;
    text-transform: uppercase;
  }
  


@media (min-width: 48em) {

  .about-me-col{
    max-width: 100%;
    height: 500px;
  }

    .about-me-img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      // background-position: right;
    }
    .about-me-col{
      margin-top: 2em;
    }
    .about-me-content h1 {
      font-size: 2.5em; /* Adjust the font size as needed */
      // margin-bottom: 10px;
    }
    
    .about-me-content p {
      font-size: 1.2em; /* Adjust the font size as needed */
    }
 

  }



.mountain-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.mountain-card {
  position: relative;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  height: 25vw;
  width: 45%;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 4px;
  overflow: hidden;
}

/* Media query for small devices */
@media (min-width: 48em) {
  .mountain-card {
      height: 10vw; /* Adjust the height to fit content */
      width: 280px;
  }

  .mountain-cards-container {
    flex-wrap:nowrap;
}
}

// .mountain-card:nth-child(odd) {
//     width: 200px;
// }

// .mountain-card:nth-child(even) {
//     width: 450px;
// }

// .mountain-card:nth-child(3n) {
//     width: 350px;
// }

.mountain-overlays {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 15px;
    text-align: left;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    gap: 2em;
    font-size: .2em;
}

.mountain-title {
    margin: 0;
}

.mountain-overlays p {

}

.mountain-overlays h2{

}

.mountain-overlays .summit-details{

  font-size: .2em !important;

}
.mountain-card:hover .mountain-overlays {
    background: rgba(0, 0, 0, 0.7);
}




.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.card {
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    height: 250px; /* Adjust the height to fit content */
    width: 440px;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 2px;
    overflow: hidden;
}

@media screen and (min-width: 48em) {
  
.card {
  height: 250px; /* Adjust the height to fit content */
  }
  .card:nth-child(odd) {
    width: 200px;
}

.card:nth-child(even) {
    width: 450px;
}

.card:nth-child(3n) {
    width: 350px;
}

}


.overlays {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 15px;
    text-align: left;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h2 {
    margin: 0;
}

p {
    margin: 5px 0;
}

.card:hover .overlays {
    background: rgba(0, 0, 0, 0.7);
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card:hover .video {
    opacity: 1;
    transform: scale(1.1); /* Increase size on hover */
}












.content {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 3.5em;
}



.content__title,
.content__sub-title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  // text-transform: none;
  display: inline-block;
  padding-bottom: 1.5em;
  // padding-top: 20px;
  position: relative;
  line-height: 1.5em;
  // font-family: 'ANTON', sans-serif;
}

.content__title,
.content__sub-title_child {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  // text-transform: none;
  display: inline-block;
  padding-bottom: .7em;
  // padding-top: 40px;
  position: relative;
  line-height: 1.5em;
  // font-family: 'ANTON', sans-serif;
}

.content__title {
  /* font-size: 1.2em; */
}

.clearlist .content__title {
  /* font-size: 1.45em; */
}

.content__sub-title {
  font-size: 1.4em;
}

.clearlist .content__sub-title {
  /* font-size: 1.25em; */
}

.content__title-white {
  // color:#fff;
  // color:#ffd600;
}

.content__title-red {
  color: #fb4a4a;
  color: #c12b21;
}

.content__title:after,
.content__sub-title:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

.content__title:after {
  left: 0em;
  bottom: 0.2em;
  height: 8px;
}

.content__sub-title:after {
  bottom: .3em;
  height: 4px;
}



/* Your existing styles for other elements */

.portfolio-footer {
  background-color:transparent; /* White background */
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.portfolio-footer p {
  color: #33333338;
  text-decoration: none;
}
.portfolio-footer a {
  text-decoration: none;
}

.portfolio-footer img {
  width: 30px; /* Adjust the size of the Instagram icon as needed */
  height: auto;
  display: block;
  margin: 0 auto;
  // filter: invert(100%); /* Make the Instagram icon black */
}






.intro-section {
  // margin-top: 20px;
  // padding: 20px 0;
  // background-color: #f8f8f8;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.6;
}

.photo-list{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  // justify-content: start;
  margin-top: 5em;
  width: 100%;
}

.photo-item{
  width: 46.5%;

}
.photo-item img{
  // border-radius: 8px;
  height: auto;
  width: 100%;
}

.photo-item h2{
  padding: 1em 0;
  

}

.about-me-col {
  position: relative;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: rgba(0, 0, 0, 0.3); /* Adjust the opacity as needed */
}

.about-me-content {
  position: absolute;
  bottom: 0%;
  left: 0%; /* Adjust the left position as needed */
  transform: translateY(-50%);
  color: #fff; /* Set the text color */
  max-width: 100%; /* Adjust the maximum width as needed */
  text-align: center;
}


.about-me-content p {
  font-size: 1em; /* Adjust the font size as needed */
}


@media (min-width: 48em) {

 
.about-me-content {
 position: absolute;
        bottom: 0%;
        left: 35%;
        transform: translateY(-50%);
        color: #fff;
        max-width: 60%;
        
  }
  
  .photo-item{
    
    width: 300px;
  
  }
  // .about-me-content {
  //     position: absolute;
  //     top: 60%;
  //     left: 1%;
  //     transform: translateY(-50%);
  //     color: #fff;
  //     max-width: 21%;
  //   }
 
}



/* Styles for the expedition details */
.expedition-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


/* Styles for the slideshow */
.slideshow {
  max-width: 800px;
  margin: 0 auto;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 5px; /* Optional: Add rounded corners to images */
}

.caption {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Styles for progress bar */
.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  width: 50px; /* Set your desired width */
  height: 5px; /* Set your desired height */
  background: #ccc; /* Set your desired background color */
  border-radius: 2px; /* Set your desired border radius */
  position: relative;
}

.slide-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Set your desired text color */
}












  /* Customize slide container */
  .slider {
    width: 80%;
    margin: 0 auto;
}

/* Customize slide styles */
.slider div {
    text-align: center;
}

/* Customize image styles */
.slider img {
    width: 100%;
    max-height: 300px; /* Adjust the max-height as needed */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 8px; /* Optional: Add rounded corners */
}







.banner-slider {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.banner-slider .slide {
  position: relative;
}

.banner-slider img,
.banner-slider video {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px !important;
  transition: transform 0.5s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  transition: opacity 0.5s ease-in-out;
}

.overlay-text {
  font-size: 1.5em;
}

.additional-info {
  margin-top: 10px;
  font-size: 1em;
  color: #ccc;
}

.play-button {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
  margin-top: 10px;
  pointer-events: auto; /* Ensure button is clickable */
  transition: transform 0.3s ease-in-out;
}

.play-button:hover {
  transform: scale(1.1);
}

.slick-next, .slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.slick-next {
  right: 10px;
}

.slick-prev {
  left: 10px;
}

.fullscreen-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: black;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




.selected{
 background-color :#fb4a4a;
 padding: 0 .3rem;
 border-radius: 2px;
}








.navbar {
  // display: none;
  overflow: hidden;
  // background-color: #333; /* Add background color if needed */
  text-align: center; /* Center text in the navbar */
}

.navbar .container {
  display: flex;
  // flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 3em 0;
  gap: 1em;
}

.navbar-brand {
  // color: white; /* Set color for the brand text */
  text-decoration: none;
  font-size: 2em;
  margin-bottom: 10px; /* Add some space between the brand and the links */
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

.nav-item {
  // margin-left: 20px;
}

.nav-link {
  // color: white; /* Set color for the links */
  text-decoration: none;
  font-size: 1em;
}

.nav-link:hover {
  text-decoration: underline; /* Add underline on hover if needed */
}



@media (min-width: 48em){

  .navbar {
    display:contents;
  }

}
