---
layout: default
---


<div class="about-me-row container-wide ">

    <div class="intro-section">

        <h1 class="content__title" style="font-size: 14.5em;">{{ page.name }}</h1>
       
        <!-- <p>Welcome to my world of adventure! I am Sunil Ghalan, an ardent
        mountaineer and filmmaker, anchored in the very heart of the thrill-seeking
        spirit. My life's narrative revolves around scaling new heights and capturing
        awe-inspiring moments that unfold amidst the world's most formidable peaks.</p>
        <p>Embarking on this extraordinary journey, my pursuit transcends the mere
        conquest of mountains; it delves into the art of storytelling, vividly painted
        through the lens of my camera. Each ascent is not just a physical endeavor but a
        captivating tale waiting to be shared with the world.</p> <p>I'm Sunil Ghalan, a
        dedicated mountaineer and filmmaker based in the heart of adventure Through my
        films, I aim to share the raw beauty, challenges, and triumphs of the mountains
        .Join me on this incredible journey, and let's explore the world together
        through the eyes of a mountaineer and filmmaker.</p> -->
    </div>

    <!-- <ul class="photo-list">
        {% for photo in site.data.photos %}
            <li class="photo-item">
               
                <p>Location:   {{ photo.location }}</p>
                <img src="{{ photo.image_url }}" alt="{{ photo.title }}" class="photo-img">
                <h2>{{ photo.title }}</h2>
            </li>
        {% endfor %}
    </ul> -->

</div>

<script>
    $(document).ready(function () {
        $('.slider').slick({
            autoplay: true,
            dots: true,
            arrows: false,
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear'
        });
    });
</script>